/* PC */
@media(min-width: 64em){
    .icon__header{
        display: none;
    }

    .header{
        padding-left: 105px;
        padding-right: 105px;
    }
}

/* Tablet */
@media (max-width: 63.9375em) and (min-width: 46.25em){
    .magin_left_right_0{
        margin-left: 0px;
        margin-right: 0;
    }

    .header{
        height: 98px;
        padding: 26px 16px;
    }

    .header__navbar{
        margin-top: 32px;
    }

    .tablet-mt-16{
        margin-left: 16px;
        margin-right: 16px;
    }

    .hero__img-header{
        margin-left: 32px;
        margin-right: 32px;
    }

    .project__header{
        width: 100%;
        padding: 0 32px;
        text-align: center;
    }


    .carousel-cell{
        height: 380px;
    }

    .message__slider {
        width: 90%;
        margin-left: 36px;
        
    }

    .testimonial__body {
        margin: 128px 48px;
    }

    .testimonial__img {
        width: 40%;
    }

    .testimonial__container{
        width: 60%;
    }

    .footer__header{
        width: 60%;
    }
    

}
/* Tablet+Mobile */
@media (max-width: 63.9375em){
    .header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    }

    .header__navbar{
        /* display: none; */
        
        width: 100%;
        line-height: 3;
        
        
    }

    .header__navbar-menu {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-family: "Plain-Light", sans-serif;
        font-size: 15px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }

    .header__navbar-menu-link,
    .header__navbar-menu-contact{
        margin-left: 0;
        margin-right: 0;
    }

    .header__logo{
        width: 100%;
        justify-content: space-between;
    }

    .hero__container{
        flex-direction: column;
    }

    .icon__header{  
    margin: 4px 4px;
    font-size: 32px;
    font-weight: 400;
    color: var(--white-color);
    position: relative;
    /* display: none; */
    }
    
    
    .hero__header {
        margin-bottom: 28px;
    }
    .hero__img{
        margin-top: -10px;
    }
    .hero__img-header,
    .about__img,
    .about__heading,
    .about__heading-div{
        width: 100%;
    }

    

    .footer__body{
        padding: 112px 0 112px 32px;
    }

    .footer__body-down, .footer__body-up{
        flex-direction: column;
    }
    
    

    .footer__info-email{
        margin-top: 32px;
        width: 100%;
    }

    .ft{
        width: 50%;
    }

    .footer__contact-info{
        margin: 0;
    }
    
    .footer__contact-info-phone {
        margin-top: 6px;
    }
    
    .footer__body-down{
        margin-top: 36px;
    }
    
    .footer__contact-des{
        text-align: left;
    }

    .footer__social{
        width: 100%;
        justify-content: space-between;
        margin-top: 36px;
        margin-left: -8px;
    }

    .pa-64{
        padding-left: 64px;
    }
}

/* Mobile */
@media (max-width: 46.1875em){
    .mb-mt-0{
        margin-left: 0px;
        margin-right: 0px;
    }

    .mb-mt-16{
        margin-left: 16px;
        margin-right: 16px;
    }

    .menu {
        padding: 22px 0;
    }

    .header{
        height: 88px;
        padding: 21px;
        
    }

    .header__navbar{
        padding: 44px 0;
    }

    .header__logo-link{
        padding-left: 0;
    }

    .project__header{
        font-size: 28px;
        width: 81%;
    }

    .hero__header-heading{
        font-size: 32px;
        margin-top: 136px;
    }

    .testimonial__body{
        flex-direction: column;
    }

    .testimonial__img{
        width: 100%;

    }

    .testimonial__container{
        width: 100%;
        padding-left: 0;
    }

    .carousel-cell{
        height: 478px;
    }

    .carousel{
        padding: 0;
    }

    .message__slider {
        bottom: 254px;
        padding: 8px 18px;
        width: 100%;
        margin-left: 0;
    }

    .flickity-page-dots{
        bottom: 200px;
    }

    .message-icon-img-slider{
        padding-left: 11px;
    }

    .footer__body-down, 
    .footer__body-up{
        flex-direction: column;
    }

    .footer__body{
        padding: 112px 0 10px 0px;
    }

    .ft{
        width: 100%;
    }

    .footer__contact-info{
        margin: 48px 0;

    }

    .footer__contact-des{
        text-align: left;
    }
    .footer__contact-icon, 
    .footer__contact-story,
    .footer__body-down{
        margin-top: 32px;
        text-align: left;
    }

    .footer__space{
        margin-left: -15px;
        padding: 0 15px;
    }

    .footer__info-email{
        flex-direction: column;
    }

    .footer__social{
        flex-direction: column;
        width: 100%;
    }

    .footer__contact-icon{
        width: 100%;
    }

    
}