*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: "Plain-Light", sans-serif;
    
}

.header{
    height: 106px;
    background-color: var(--menu-bg);
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */
}

.menu{
    padding: 31px 0;
    display: flex;
    justify-content: space-between;
}
    
.header__logo-link{
    color: var(--white-color);
    text-decoration: none;
    font-size: 32px;
    font-family: "Plain-Light", sans-serif;
    line-height: 1.4;
    padding-left: 16px;
}

.header__logo-link-span{
    font-weight: 400;
}

.header__logo a:hover,
.header__navbar a:hover{
    color: var(--secondary-color);
}

.header__navbar{
    line-height: 2.4;
    display: flex;
    align-items: center;
}

.header__navbar-menu{
    display: flex;    
    justify-content: space-around;
    list-style-type: none;
    font-family: "Plain-Light", sans-serif;
    font-size: 15px;
}

.header__navbar-menu-link{
    min-width: 120px;
    height: 45px;
    text-decoration: none;
    padding: 8px 16px;
    color: var(--white-color);
    margin-left: 24px;
}

.header__navbar-menu-contact{
    border: 2px solid var(--secondary-color);
    border-radius: 30px;
    padding:12px 32px ;
    color: var(--secondary-color);
    margin-left: 32px;
    margin-right: 48px;
    font-weight: 700;
}

.header__navbar-menu-contact:hover{
    color: var(--white-color) !important;
    background-color: var(--secondary-color);
}

.header__logo{
    display: flex;
    flex-direction: row;
}

.container{
    /* margin-top: 106px; */
}

.hero{

    background: linear-gradient(170deg, var(--primary-color) 64%, var(--white-color) 30%); 
}

.hero__container{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    
}

.hero__header{
    margin-bottom: 80px;
    
}

.hero__header-heading{
    margin-top: 94px;
    padding-left: 16px;
    font-size: 38px;
    
}

.hero__header-heading-font{
    font-weight: 545;
    margin-top: 4px;
    color: var(--white-color);
    line-height: 1.4;
}

.hero-header-btn{
    margin-top: 32px;
    min-width: 256px;
    height: 57px;
}

.hero-header-btn-link{
    min-width: 256px;
    font-size: 18px;
    text-decoration: none;
    margin-left: 16px;
    background-color: var(--white-color);
    color: var(--menu-bg);
    border-radius: 30px;
    padding: 16px 30px;
    
}

.hero-header-btn-link:hover{
    color: var(--white-color);
    background-color: var(--black-color);
}

.hero__header-heading-cellphone{
    display: flex;
    margin: 4px 56px;
    color: var(--white-color);
    
}

.hero__header-heading-phone-icon{
    font-size: 14px;
    
}

.hero__header-heading-phone{
    margin-left: 16px;
    font-size: 16px;
    font-weight: 500;
}

.hero__img{
    margin-top: 32px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
    
}

.hero__img-header{
    width: 80%;
}

.about{
    align-items: center;
}

.about__body{
    margin: 128px 105px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__heading{
    width: 50%;
}

.about__heading-div{
    font-size: 32px;
    width: 70%;
    line-height: 1.6;
    font-weight: 530;
}

.about__heading-font{
    color: var(--secondary-color);
}

.about__body-container{
    margin-top: 20px;
    font-size: 18px;
    color: #666262;
    line-height: 1.6;
}

.about__body-footer{
    margin-top: 32px;
    font-size: 18px;
    color: #666262;
    line-height: 1.6;
}

.about__body-container-link{
    text-decoration: none;
    color: #666262;
}

.about__body-container-link:hover{
    color: var(--secondary-color);
}

.about__img{
    width: 50%;
}

.about__img-office{
    width: 100%;
    margin-bottom: 0;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
}

.project__header{
    width: 30% ;
    margin: 124px 0 56px;
    font-size: 32px;
    color: #666262;
}

.project__slider{
    
    
}

.slider{
    
    width: 70%;
    height: 100%;
    
}

.slider-img{
    width: 100%;
    height: 100%;
}

.next-prev{
    width: 40%;
    margin: 32px 0 124px;
    
    
}

.dot__all{
    padding: 8px 0 8px 116px;
    margin: auto;
    display: flex;
    
}

.dot{
    margin: auto;
    width: calc(60%/5);
    height: 3px;
    background-color: #909090;
    margin: 0 8px;
    transition: var(--secondary-color) 0.6s ease;
}

.dot:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}

.testimonial__body{
    display: flex;
    justify-content: space-between;
    margin: 128px 105px;
}

.testimonial__img{
    width: 50%;
}

.testimonial__img-avt{
    width: 100%;
}

.testimonial__container{
    padding-left: 48px;
    width: 50%;
    line-height: 1.6;
    font-weight: 540;
}

.testimonial__header{
    margin-top: 80px;
    color: #909090;
    font-size: 18px;
}

.testimonial__container-body{
    margin-top: 48px;
    font-size: 32px;
}

.testimonial__footer{
    margin-top: 24px;
    color: #909090;
    font-size: 14px;
}

.testimonial__heading-font{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 540;
}

.footer{
    background-color: #171819;
    color: #666262;
}

.footer__body{
    padding: 112px 120px 112px 200px;
    display: flex;
    flex-direction: column;
    
}

.footer__body-down,
.footer__body-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ft{
    width: 35.3333%;
}

.footer__header{
    font-size: 42px;
    color: var(--white-color);
}

.footer__heading-font{
    color: var(--secondary-color);
    font-weight: 600;
}

.footer__contact-background{
    color: var(--secondary-color);
    margin-right: 16px;
}

.footer__contact-studio-adress{
    line-height: 1.6;
    margin-top: 28px;
}


.footer__contact-info-phone
{
    margin-top: 32px;
}

.footer__contact-info-email{
    margin-top: 16px;
}

.footer__design{
    text-decoration: none;
    color: #666262;
}

.footer__design:hover{
    color: var(--secondary-color);
}

.footer__contact-studio{
    /* padding-left: 150px; */
}

.footer__contact-info{
    margin:0 56px 0 100px;
}

.footer__contact-info-phone,
.footer__contact-info-email{
    
}

.footer__body-down{
    margin-top: 95px;
    /* justify-content: flex-start; */
    
}

.footer__contact-des{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-weight: 540;
}



.footer__contact-icon{
    width: 40%;
    text-align: right;
}


.footer__contact-icon,
.footer__contact-story{
    text-align: center;
}

.footer__space{
    padding: 0 8px;
}

.footer__info-email{
    display: flex;
}

.footer__social{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}